body {
	font-family: Verdana, Helvetica, sans-serif;
	background-color: #DDDDDD;
}

.button {
    display: block;
    /*height: 100px;
    width: 300px;*/
	height: 20%;
	width:60%;
    background: #34696f;
    border: 2px solid rgba(33, 68, 72, 0.59);
	margin: 20px;
	margin-left: auto;
	margin-right:auto;
	
	color:rgba(0,0,0,0.55);
	text-align:center;
	font: bold 3.2em/100px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	/*font-size: 20vmin;*/
	
	background: linear-gradient(top, #34696f, #2f5f63);
	border-radius: 50px;
	box-shadow: 0 8px 0 #1b383b;
	text-shadow: 0 2px 2px rgba(255,255,255,0.2);
	
}

.button-small{
	height:40px;
	width:200px;
	
	font: bold 1.6em/50px "Helvetica Neue";
	/*font-size: 10vmin;*/
}

a.button{
	text-decoration:none;
}

a.button:hover{
	background:#3d7a80;
	background: linear-gradient(top,#3d7a80,#2f5f63);
}

/*Thanks to designshack tutorial 
http://designshack.net/articles/css/css-button-tutorial-how-to-code-buttons-in-5-simple-steps*/